@import url(../SASS/style.css);
* {
  margin: 0;
}

/******Header****/
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header a {
  position: absolute;
  font-size: 20px;
  text-decoration: none;
  color: #353535;
  margin-top: 20px;
  margin-left: -91%;
}
header img {
  width: 50%;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
}

/******Body*****/
main {
  width: 100%;
}
main img {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}
main .menu {
  width: 100%;
  background-color: #F6F6F6;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  flex-direction: column;
  position: absolute;
  align-self: anchor-center;
  margin-top: 256px;
}
main .menu .sub-title {
  margin-top: 10px;
  margin-left: 10px;
  padding-bottom: 5px;
  font-weight: 300;
  border-bottom: 2px solid #99E2D0;
  width: 10%;
}
main .menu .title {
  font-weight: 500;
  font-size: 25px;
  color: black;
  padding-top: 20px;
  padding-left: 10px;
  margin-bottom: 20px;
}
main .menu .title .coeur {
  position: absolute;
  position-area: bottom;
  width: 30px;
  height: 30px;
  background-color: #F6F6F6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 64%;
  margin-top: -32px;
  transition-property: transform;
}
main .menu .title .coeur:hover .fa-heart {
  font-weight: 900;
  background: -webkit-linear-gradient(var(--main-color), var(--second-color));
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
main .menu .title .coeur .fa-heart {
  font-weight: 200;
  font-size: 1em;
}
main .menu button {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 50%;
  height: 45px;
  border: none;
  border-radius: 25px;
  align-self: center;
  color: white;
  background: linear-gradient(var(--second-color), var(--main-color));
}
main .menu .box {
  width: 93%;
  border: none;
  border-radius: 15px;
  height: 69px;
  background-color: white;
  margin-top: 10px;
  margin-left: 10px;
}
main .menu .box .box-content {
  font-family: Roboto;
  padding-top: 12px;
  padding-left: 14px;
}
main .menu .box .box-content h2 {
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 5px;
}
main .menu .box .box-content p {
  font-weight: 300;
  font-size: 13px;
}
main .menu .box .box-content .prix {
  font-weight: bold;
  margin-left: 252px;
  position: absolute;
  justify-self: anchor-center;
}

/******Footer*****/
footer {
  margin-top: 986px;
}

/*******Desktop*******/
@media (min-width: 1024px) {
  header img {
    width: 15%;
    height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  header a {
    font-size: 15px;
    padding-top: 18px;
    margin-left: -97%;
  }
  /******Main******/
  main .menu {
    width: 73%;
    margin-left: 14%;
    margin-top: 33%;
  }
  main .menu .title {
    text-align: center;
    padding-left: 0;
    font-size: 20px;
    font-weight: 400;
  }
  main .menu .sub-title {
    margin-left: 15%;
  }
  main .menu .box {
    width: 70%;
    height: 55px;
    margin-left: 15%;
  }
  main .menu .box .box-content h2 {
    font-size: 14px;
  }
  main .menu .box .box-content p {
    font-size: 12px;
  }
  main .menu .box .box-content p .prix {
    margin-left: 63%;
  }
  main .menu button {
    width: 20%;
    height: 36px;
  }
  /*******Footer*****/
  footer {
    margin-top: 882px;
  }
}/*# sourceMappingURL=La_note_enchantée.css.map */