:root{
    --main-color: #9356DC;
    --second-color: #FF79DA;
    --third-color: #99E2D0;
}

body{
    width: 100%;
}
.titre{
    font-weight: 700;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.title{
    font-family: Shrikhand;
    font-weight: bold;
    font-style: italic;
    color: white;
}